@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&family=Varela+Round&display=swap');

:root {
    --color-heading: #231955;
    --color-body: #1F4690;
    --color-base: #EBAA42;
    --color-base2: #FFE5B4;
    --color-base3: #130d33;
    --font-heading: "Roboto Slab";
    --font-body: "Varela Round";
}

/*  Generals */
body {
    background-color: var(--color-base3);
    color: var(--color-body);
    font-family: var(--font-body), sans-serif;
    font-family: var(--font-heading), serif;
}

footer {
    padding: 20px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-base);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-base);
    transition: all 0.5s ease;
}

a:hover {
    color: var(--color-base2);
}

img {
    width: 100%;
}

ul, li {
    list-style: none;
}
/*  Header  */
#header {

    overflow-y: auto;
}

.link-custom {
    font-weight: 700;
    position: relative;
    color: var(--color-base);
    font-size: 12px;
}

.link-custom::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-base);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after{
    width: 100%;
}

/* Navbar */
.navbar {
    background: linear-gradient(var(--color-base3), var(--color-base3)), url();
}

.navbar .nav-link {
    font-weight: 900px;
    text-transform: uppercase;
    color: var(--color-base);
    font-family: var(--font-heading);
}

.navbar .nav-link:hover {
    color: var(--color-body);
}

@media (min-width: 990px) {
    .navbar {
        min-height: 100vh;
        width: 240px;
        background: linear-gradient(var(--color-base3), var(--color-base3)), url();
        margin-bottom: 20px;
    }

    .navbar-brand img {
        border: 8px solid var(--color-base2)
    }
}

/*  Home  */

#home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(19, 13, 51, 0.905), rgba(19, 13, 51, 0.909)), url("../img/Rectangle-4.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

@media (min-width: 992px) {
    #home {
        padding-left: 300px;
        display: flex;
        align-items: center;
    }
}

#home h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: var(--color-base);
    font-family: var(--font-heading);
}

#home p {
    color: var(--color-body);
    margin: 15px 0 0 0;
    font-size: 30px;
    font-family: var(--font-body);
}

#home p span {
    color: var(--color-body);
    letter-spacing: 1px;
}

#home .social-links {
    margin-top: 30px;
}

#home .social-links a {
    font-size: 24px;
    display: inline-block;
    color: var(--color-body);
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
}

#home .social-links a:hover {
    color: var(--color-base);
}

@media (max-width: 992px) {
    #home {
        text-align: center;
    }

    #home h1 {
        font-size: 32px;
        line-height: 36px;
    }

    #home p {
        margin-top: 10px;
        font-size: 20px;
        line-height: 24px;
    }
}
/*  Home End */

/*  About  */

@media (min-width: 992px) {
    #about {
        padding-left: 240px;
        margin-top: 40px;
    }
}

.img-about {
    width: 60%;
    padding: 20px 0;
}

@media (max-width: 992px){
    .img-about {
        padding-left: 240px;
        width: 50%;
        padding: 20px 0;
        margin-left: 100px;
    }
}

.about-list {
    padding: 20px 0;
}

.about-list i {
    padding-right: 10px;
    color: var(--color-base);
}

.about-list a {
    color: var(--color-body);
}

.about-skill {
    padding: 20px 0;
}

.about-skill i::before {
    font-size: 40px;
}

/*  Services */
.services .icon-box {
    text-align: center;
    padding: 20px 20px 20px 20px;
    transition: all ease-in-out 0.3s;
    background: rgba(46, 36, 106, 0.411);
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
    border-radius: 20px;
}

@media (min-width: 992px) {
    #services {
        padding-left: 240px;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
    }
}

.services .icon-box .icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.5s;
    position: relative;
}

.services .icon-box .icon i {
    font-size: 36px;
    transition: 1s;
    position: inherit;
}

.services .icon-box .icon svg {
    position: absolute;
    top: 0;
    left: 0;
}

.services .icon-box .icon svg path {
    transition: 1s;
    fill: #ffffff;
}

.services .icon-box h4 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 22px;
}

.services .icon-box h4 a {
    color: var(--color-base);
    transition: ease-in-out 0.5s;
}

.services .icon-box .link-custom {
    color: var(--color-base);
    transition: ease-in-out 0.5s;
}

.services .icon-box p {
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .iconbox-blue i {
    color: #47aeff;
}

.services .iconbox-blue:hover .icon i {
    color: #ffffff;
}

.services .iconbox-blue:hover .icon path {
    fill: #47aeff;
}

.services .iconbox-orange i {
    color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
    color: #ffffff;
}

.services .iconbox-orange:hover .icon path {
    fill: #ffa76e;
}

.services .iconbox-diamond i {
    color: #c8e5eb;
}

.services .iconbox-diamond:hover .icon i {
    color: #ffffff;
}

.services .iconbox-diamond:hover .icon path {
    fill: #c8e5eb;
}

.services .iconbox-yellow i {
    color: #ffbb2c;
}

.services .iconbox-yellow:hover .icon i {
    color: #ffffff;
}

.services .iconbox-yellow:hover .icon path {
    fill: #ffbb2c;
}

.services .iconbox-red i {
    color: #ff5828;
}

.services .iconbox-red:hover .icon i {
    color: #fff;
}

.services .iconbox-red:hover .icon path {
    fill: #ff5828;
}

.services .iconbox-teal i {
    color: #b5cb93;
}

.services .iconbox-teal:hover .icon i {
    color: #fff;
}

.services .iconbox-teal:hover .icon path {
    fill: #b5cb93;
}

/*  Services End */

/*  Footer  */
@media (min-width: 992px) {
    #footer {
        padding-left: 240px;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
    }
}

.footer{
    padding: 20px 20px;
}

.footer i::before {
    padding-right: 10px;
    color: var(--color-base3);
}